{% extends "AppartooAppBundle::layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class=" text-center">
                <img src="{{ asset('bundles/appartooapp/images/first.gif') }}"></br>
                <img src="{{ asset('bundles/appartooapp/images/second.gif') }}"> <h1>inscription confirmé</h1> <img src="{{ asset('bundles/appartooapp/images/second.gif') }}"></br>
                <img src="{{ asset('bundles/appartooapp/images/first.gif') }}">
            </div>
        </div>
    </div>

{% endblock %}